block variables

- var locale = 'en'
- var version = '0.2.6'
- var appTitle = 'UI Schema'
- var appKeywords = 'UI, Schema, HTML, CSS, JS, JavaScript, front-end, framework, web development'
- var appDescription = 'A cutting edge, lightweight, and powerful front-end framework for faster and easier web development'
- var appRoot = '../..' + ((pageID || '').replace(/[^\/]/g, '').replace(/\//g, '/..'))
- var appDocs = appRoot + '/docs/html'
- var appIcons = appRoot + '/js/icons'

doctype html

html(id=pageID lang=locale)
  head
    block head
      meta(charset='utf-8')
      title= (pageTitle ? pageTitle + ' | ' : '') + appTitle
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='keywords' content= pageKeywords || appKeywords)
      meta(name='description' content=pageDescription || appDescription)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='#{appRoot}/dist/ui-schema-#{version}.min.css' media='all')
      link(rel='stylesheet' href='#{appRoot}/dist/prism-0.0.1.min.css' media='all')
  body
    header.ui-header-navbar.ui-container-fluid.ui-container-grid(role='banner')
      block header
        .ui-header-brand
          h2: a(href='#{appDocs}/index.html' accesskey='h')= appTitle
        nav.ui-grid-33.ui-mobile-auto(role='navigation')
          ul
            li: a(href='#{appDocs}/css.html' accesskey='c') CSS
            li: a(href='#{appDocs}/javascript.html' accesskey='j') JavaScript
            li: a(href='#{appDocs}/examples.html' accesskey='e') Examples
            li: a(href='https://github.com/arxitics/ui-schema' rel='external' target='_blank' accesskey='g') GitHub
    main.ui-container-fluid.ui-container-grid(role='main')
      aside.ui-grid-25.ui-mobile-expand
        block aside
      article.ui-grid-75.ui-mobile-expand
        block article
    footer.ui-container-fluid(role='contentinfo')
      block footer
        address.ui-text-muted.ui-mobile-expand
            span &copy; 2014&ndash;2015 Arxitics &nbsp;
            span Code licensed under 
              a(href='https://github.com/arxitics/ui-schema/blob/master/LICENSE.txt' rel='external' target='_blank') MIT
              | , documentation under 
              a(href='http://creativecommons.org/licenses/by-sa/4.0' rel='external' target='_blank') CC BY-SA 4.0
              | .
    block foot
      script(src='#{appRoot}/dist/jquery-2.1.3.min.js')
      script(src='#{appRoot}/dist/prism-0.0.1.min.js')
      script(src='#{appRoot}/dist/ui-schema-#{version}.min.js')
