extends ../layout

block variables
  - var pageID = 'javascript/icons'
  - var pageTitle = 'Icons'

block aside
  include components

block article
  h3.ui-header-primary Icons
  p
  mixin icon(name, alias)
    .ui-grid-25
      i.ui-fixed-width(data-schema-icon=name)
      |  
      span= name
        if alias
          |  
          span.ui-text-muted (alias)
  section
    h4.ui-header-secondary Brand Icons
    .ui-container-flex.ui-float-clear
      +icon('alipay-square')
      +icon('android')
      +icon('apple')
      +icon('chrome')
      +icon('codepen')
      +icon('css3')
      +icon('dropbox')
      +icon('facebook')
      +icon('facebook-circle')
      +icon('facebook-square')
      +icon('flickr')
      +icon('flickr-circle')
      +icon('flickr-square')
      +icon('github')
      +icon('github-circle')
      +icon('github-square')
      +icon('google')
      +icon('google-plus')
      +icon('google-plus-circle')
      +icon('google-plus-square')
      +icon('google-wallet')
      +icon('html5')
      +icon('html5-o')
      +icon('icomoon')
      +icon('ie')
      +icon('linkedin')
      +icon('linkedin-square')
      +icon('opera')
      +icon('paypal')
      +icon('picasa')
      +icon('qq')
      +icon('qq-alt')
      +icon('reddit')
      +icon('reddit-square')
      +icon('renren')
      +icon('skype')
      +icon('stack-exchange')
      +icon('stack-overflow')
      +icon('svg')
      +icon('taobao')
      +icon('taobao-square')
      +icon('tencent-weibo')
      +icon('twitter')
      +icon('twitter-circle')
      +icon('twitter-square')
      +icon('wechat', true)
      +icon('weibo')
      +icon('weixin')
      +icon('windows')
      +icon('wordpress')
      +icon('yahoo')
      +icon('youtube')
  section
    h4.ui-header-secondary Device Icons
    .ui-container-flex.ui-float-clear
      +icon('adjust')
      +icon('alerm')
      +icon('alerm-add')
      +icon('alerm-on')
      +icon('bell')
      +icon('bell-o')
      +icon('bell-slash')
      +icon('bell-slash-o')
      +icon('bluetooth')
      +icon('camera')
      +icon('camera-retro')
      +icon('calculator')
      +icon('clock')
      +icon('cog')
      +icon('cogs')
      +icon('compass')
      +icon('dashboard', true)
      +icon('desktop')
      +icon('fax')
      +icon('gps')
      +icon('hdd')
      +icon('headphones')
      +icon('keyboard')
      +icon('laptop')
      +icon('location')
      +icon('microphone')
      +icon('microphone-slash')
      +icon('mobile-phone')
      +icon('phone')
      +icon('phone-square')
      +icon('plug')
      +icon('power-off')
      +icon('shield')
      +icon('signal')
      +icon('tablet')
      +icon('tachometer')
      +icon('toggle-off')
      +icon('toggle-on')
      +icon('watch')
      +icon('wifi')
      +icon('wrench')
  section
    h4.ui-header-secondary User Account Icons
    .ui-container-flex.ui-float-clear
      +icon('bookmark')
      +icon('bookmark-o')
      +icon('bookmarks')
      +icon('calendar')
      +icon('calendar-o')
      +icon('chat')
      +icon('child')
      +icon('cloud')
      +icon('cloud-download')
      +icon('cloud-upload')
      +icon('comment')
      +icon('comment-o')
      +icon('comments')
      +icon('comments-o')
      +icon('download')
      +icon('download-alt')
      +icon('email')
      +icon('envelope')
      +icon('envelope-o')
      +icon('envelope-square')
      +icon('explore')
      +icon('favorite', true)
      +icon('favorite-o', true)
      +icon('female')
      +icon('globe')
      +icon('group')
      +icon('heart')
      +icon('heart-o')
      +icon('home')
      +icon('inbox')
      +icon('key')
      +icon('language')
      +icon('language-alt')
      +icon('like', true)
      +icon('like-o', true)
      +icon('lock')
      +icon('love', true)
      +icon('love-o', true)
      +icon('mail-forward')
      +icon('mail-reply')
      +icon('mail-reply-all')
      +icon('male')
      +icon('rss')
      +icon('rss-circle')
      +icon('rss-square')
      +icon('share')
      +icon('share-square')
      +icon('share-square-o')
      +icon('sign-in')
      +icon('sign-in-alt')
      +icon('sign-out')
      +icon('sign-out-alt')
      +icon('star')
      +icon('star-circle')
      +icon('star-half')
      +icon('star-half-empty')
      +icon('star-o')
      +icon('tag')
      +icon('tags')
      +icon('tasks')
      +icon('thumbs-down')
      +icon('thumbs-o-down')
      +icon('thumbs-o-up')
      +icon('thumbs-up')
      +icon('unlock')
      +icon('unlock-alt')
      +icon('upload')
      +icon('upload-alt')
      +icon('user')
      +icon('user-md')
  section
    h4.ui-header-secondary Form Control Icons
    .ui-container-flex.ui-float-clear
      +icon('bars')
      +icon('check')
      +icon('check-circle')
      +icon('check-circle-o')
      +icon('check-o')
      +icon('check-square')
      +icon('check-square-o')
      +icon('check-thin')
      +icon('circle')
      +icon('circle-backslash-o')
      +icon('circle-o')
      +icon('circle-o-notch')
      +icon('circle-slash-o')
      +icon('circle-thin')
      +icon('close', true)
      +icon('cross')
      +icon('cross-circle')
      +icon('cross-circle-o')
      +icon('cross-thin')
      +icon('dot')
      +icon('dot-circle-o')
      +icon('dot-three-h')
      +icon('dot-three-v')
      +icon('dot-two-h')
      +icon('dot-two-v')
      +icon('exclamation')
      +icon('exclamation-circle')
      +icon('exclamation-circle-o')
      +icon('exclamation-triangle')
      +icon('external-link')
      +icon('external-link-square')
      +icon('info')
      +icon('info-circle')
      +icon('info-circle-o')
      +icon('menu', true)
      +icon('minus')
      +icon('minus-circle')
      +icon('minus-circle-o')
      +icon('minus-square')
      +icon('minus-square-o')
      +icon('minus-thin')
      +icon('plus')
      +icon('plus-circle')
      +icon('plus-circle-o')
      +icon('plus-square')
      +icon('plus-square-o')
      +icon('plus-thin')
      +icon('question')
      +icon('question-circle')
      +icon('remove', true)
      +icon('search')
      +icon('search-minus')
      +icon('search-plus')
      +icon('sliders')
      +icon('spinner')
      +icon('square')
      +icon('square-o')
      +icon('zoom-in', true)
      +icon('zoom-out', true)
  section
    h4.ui-header-secondary Directional Icons
    .ui-container-flex.ui-float-clear
      +icon('angle-double-down')
      +icon('angle-double-left')
      +icon('angle-double-right')
      +icon('angle-double-up')
      +icon('angle-down')
      +icon('angle-left')
      +icon('angle-right')
      +icon('angle-up')
      +icon('arrow-circle-down')
      +icon('arrow-circle-left')
      +icon('arrow-circle-o-down')
      +icon('arrow-circle-o-left')
      +icon('arrow-circle-o-right')
      +icon('arrow-circle-o-up')
      +icon('arrow-circle-right')
      +icon('arrow-circle-up')
      +icon('arrow-down')
      +icon('arrow-down-left')
      +icon('arrow-down-right')
      +icon('arrow-left')
      +icon('arrow-long-down')
      +icon('arrow-long-left')
      +icon('arrow-long-right')
      +icon('arrow-long-up')
      +icon('arrow-right')
      +icon('arrow-short-down')
      +icon('arrow-short-left')
      +icon('arrow-short-right')
      +icon('arrow-short-up')
      +icon('arrow-thick-down')
      +icon('arrow-thick-left')
      +icon('arrow-thick-right')
      +icon('arrow-thick-up')
      +icon('arrow-up')
      +icon('arrow-up-left')
      +icon('arrow-up-right')
      +icon('arrows')
      +icon('arrows-alt')
      +icon('arrows-h')
      +icon('arrows-v')
      +icon('caret-square-o-down')
      +icon('caret-square-o-left')
      +icon('caret-square-o-right')
      +icon('caret-square-o-up')
      +icon('caret-down')
      +icon('caret-left')
      +icon('caret-right')
      +icon('caret-up')
      +icon('chevron-circle-down')
      +icon('chevron-circle-left')
      +icon('chevron-circle-right')
      +icon('chevron-circle-up')
      +icon('chevron-down')
      +icon('chevron-left')
      +icon('chevron-right')
      +icon('chevron-thin-down')
      +icon('chevron-thin-left')
      +icon('chevron-thin-right')
      +icon('chevron-thin-up')
      +icon('chevron-up')
      +icon('hand-o-down')
      +icon('hand-o-left')
      +icon('hand-o-right')
      +icon('hand-o-up')
      +icon('toggle-down', true)
      +icon('toggle-left', true)
      +icon('toggle-right', true)
      +icon('toggle-up', true)
      +icon('triangle-down')
      +icon('triangle-left')
      +icon('triangle-right')
      +icon('triangle-up')
  section
    h4.ui-header-secondary Editor Icons
    .ui-container-flex.ui-float-clear
      +icon('align-center')
      +icon('align-justify')
      +icon('align-left')
      +icon('align-right')
      +icon('area-chart')
      +icon('audio')
      +icon('bar-chart')
      +icon('bold')
      +icon('chain', true)
      +icon('chain-broken', true)
      +icon('clipboard')
      +icon('code')
      +icon('code-fork', true)
      +icon('columns')
      +icon('command')
      +icon('copy')
      +icon('cut', true)
      +icon('dedent', true)
      +icon('delete', true)
      +icon('edit')
      +icon('eraser')
      +icon('film', true)
      +icon('flow-branch')
      +icon('flow-cascade')
      +icon('flow-line')
      +icon('flow-parallel')
      +icon('flow-tree')
      +icon('folder')
      +icon('folder-o')
      +icon('folder-open')
      +icon('folder-open-o')
      +icon('font')
      +icon('formula', true)
      +icon('header')
      +icon('history')
      +icon('image', true)
      +icon('indent')
      +icon('italic')
      +icon('link')
      +icon('line-chart')
      +icon('list')
      +icon('list-alt')
      +icon('list-ol')
      +icon('list-ul')
      +icon('music', true)
      +icon('move-down')
      +icon('move-up')
      +icon('outdent')
      +icon('paperclip')
      +icon('paragraph')
      +icon('paste', true)
      +icon('picture-o')
      +icon('pie-chart')
      +icon('print')
      +icon('quote-left')
      +icon('quote-right')
      +icon('recycle')
      +icon('refresh')
      +icon('repeat', true)
      +icon('rotate-left')
      +icon('rotate-right')
      +icon('save')
      +icon('scissors')
      +icon('section')
      +icon('shift')
      +icon('sigma')
      +icon('sort')
      +icon('sort-alpha-asc')
      +icon('sort-alpha-desc')
      +icon('sort-amount-asc')
      +icon('sort-amount-desc')
      +icon('sort-asc')
      +icon('sort-desc')
      +icon('sort-numeric-asc')
      +icon('sort-numeric-desc')
      +icon('spellcheck')
      +icon('strikethrough')
      +icon('subscript')
      +icon('superscript')
      +icon('table')
      +icon('terminal')
      +icon('text-height')
      +icon('text-width')
      +icon('th')
      +icon('th-large')
      +icon('th-list')
      +icon('trash')
      +icon('trash-o')
      +icon('underline')
      +icon('undo', true)
      +icon('unlink')
      +icon('vertical-align-bottom')
      +icon('vertical-align-middle')
      +icon('vertical-align-top')
      +icon('video')
  section
    h4.ui-header-secondary Video Player Icons
    .ui-container-flex.ui-float-clear
      +icon('backward')
      +icon('backward-circle-o')
      +icon('compress')
      +icon('eject')
      +icon('expand')
      +icon('fast-backward')
      +icon('fast-forward')
      +icon('first', true)
      +icon('forward')
      +icon('forward-circle-o')
      +icon('last', true)
      +icon('loop')
      +icon('next', true)
      +icon('pause')
      +icon('pause-circle-o')
      +icon('play')
      +icon('play-circle-o')
      +icon('previous', true)
      +icon('random')
      +icon('step-backward')
      +icon('step-backward-circle-o')
      +icon('step-forward')
      +icon('step-forward-circle-o')
      +icon('stop')
      +icon('stop-circle-o')
      +icon('video-camera')
      +icon('volume-decrease')
      +icon('volume-high')
      +icon('volume-increase')
      +icon('volume-low')
      +icon('volume-medium')
      +icon('volume-mute')
      +icon('volume-mute-alt')
      +icon('youtube-play')
      +icon('youtube-play-o')
  section
    h4.ui-header-secondary Financial Icons
    .ui-container-flex.ui-float-clear
      +icon('bank')
      +icon('barcode')
      +icon('bitcoin')
      +icon('btc', true)
      +icon('cny', true)
      +icon('credit-card')
      +icon('dollar')
      +icon('eur', true)
      +icon('euro')
      +icon('gbp', true)
      +icon('inr', true)
      +icon('jpy', true)
      +icon('krw', true)
      +icon('money')
      +icon('pound')
      +icon('rmb', true)
      +icon('rouble', true)
      +icon('rub', true)
      +icon('ruble')
      +icon('rupee')
      +icon('qrcode')
      +icon('shopping-cart')
      +icon('try', true)
      +icon('turkish-lira')
      +icon('usd', true)
      +icon('won')
      +icon('yen', true)
      +icon('yuan')
  section
    h4.ui-header-secondary File Type Icons
    .ui-container-flex.ui-float-clear
      +icon('file')
      +icon('file-archive-o')
      +icon('file-audio-o')
      +icon('file-code-o')
      +icon('file-excel-o')
      +icon('file-image-o')
      +icon('file-movie-o', true)
      +icon('file-o')
      +icon('file-pdf-o')
      +icon('file-photo-o', true)
      +icon('file-picture-o', true)
      +icon('file-powerpoint-o')
      +icon('file-sound-o', true)
      +icon('file-text')
      +icon('file-text-o')
      +icon('file-word-o')
      +icon('file-video-o')
      +icon('file-zip-o', true)
  section
    h4.ui-header-secondary License Icons
    .ui-container-flex.ui-float-clear
      +icon('cc')
      +icon('cc-by')
      +icon('cc-nc', true)
      +icon('cc-nc-eu')
      +icon('cc-nc-us')
      +icon('cc-nd')
      +icon('cc-pd')
      +icon('cc-remix')
      +icon('cc-sa')
      +icon('cc-share')
      +icon('cc-zero')
  section
    h4.ui-header-secondary Emotion Icons
    .ui-container-flex.ui-float-clear
      +icon('angry')
      +icon('angry-o')
      +icon('baffled')
      +icon('baffled-o')
      +icon('confused')
      +icon('confused-o')
      +icon('cool')
      +icon('cool-o')
      +icon('crying')
      +icon('crying-o')
      +icon('evil')
      +icon('evil-o')
      +icon('frustrated')
      +icon('frustrated-o')
      +icon('grin')
      +icon('grin-o')
      +icon('happy')
      +icon('happy-o')
      +icon('hipster')
      +icon('hipster-o')
      +icon('neutral')
      +icon('neutral-o')
      +icon('sad')
      +icon('sad-o')
      +icon('shocked')
      +icon('shocked-o')
      +icon('sleepy')
      +icon('sleepy-o')
      +icon('smile')
      +icon('smile-o')
      +icon('tongue')
      +icon('tongue-o')
      +icon('wink')
      +icon('wink-o')
      +icon('wondering')
      +icon('wondering-o')

block append foot
  script(src='#{appIcons}/account.js')
  script(src='#{appIcons}/arrows.js')
  script(src='#{appIcons}/brands.js')
  script(src='#{appIcons}/devices.js')
  script(src='#{appIcons}/editor.js')
  script(src='#{appIcons}/emoji.js')
  script(src='#{appIcons}/files.js')
  script(src='#{appIcons}/finance.js')
  script(src='#{appIcons}/forms.js')
  script(src='#{appIcons}/healthcare.js')
  script(src='#{appIcons}/licenses.js')
  script(src='#{appIcons}/video.js')
  script(src='#{appIcons}/weather.js')
